<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <h2>These people already signed up</h2>

        <ul>
            <!-- To exploit the unescaped span here, enter some valid html in the address field in the form section
                 i.e. <script>alert(document.cookie)</script> as the address -->
            <li th:each="signup : ${signups}"><span th:text="${signup.name}">user name</span> - <span th:utext="${signup.address}">user address</span></li>
        </ul>

        <p></p>
    </body>
</html>
